{% extends 'layouts/base.twig' %}

{# PAGE BODY #}
{% block page_body %}

    {# MASTHEAD #}
    {% if masthead %}
        {% embed 'components/masthead.twig' with masthead %}
        {% endembed %}
    {% endif %}

    {# CONTENT #}
    {% embed 'layouts/two-column-right.twig' %}
        {% block content %}

            {% if masthead is empty %}
                <h1>{{ post.title }}</h1>
            {% endif %}

            {% set post_content = post.content %}
            {% if post_content %}
                <div class="vertical-padding">
                    {{ post_content }}
                </div>
            {% endif %}

            <ul>
                {% for news_item in news %}
                    <li class="news">
                        {% set featured_post = news_item.get_field('featured_post') %}
                        <div class="row vertical-padding {{ (featured_post) ? 'featured-post' }}">
                            {% if news_item.gallery %}
                                <div class="col-xs-12 col-sm-3 text-center">
                                    <a href="{{ news_item.get_permalink }}" class="thumb">
                                        <img src="{{ (TimberImage(news_item.gallery[0]).src)|resize(300,300) }}" class="img-responsive {{ function('get_post_meta', news_item.gallery["id"], 'video_url', true) ? 'video-img' }}"/>
                                        {% if function('get_post_meta', news_item.gallery[0], 'video_url', true) != '' %}
                                            <div class="video-circle"></div>
                                        {% endif %}
                                    </a>
                                </div>
                            {% endif %}
                            {% set gallery = news_item.get_field('gallery') %}
                            <div class="col-xs-12 {{ (gallery) ? 'col-sm-9 col-md-8' : 'col-sm-12 col-md-11' }}">
                                <div class="title"><a href="{{ news_item.get_permalink }}">{{ news_item.title }}</a></div>
                                <p>{{ news_item.get_preview(100, false, '') }}</p>
                            </div>
                            <div class="col-xs-12 {{ (gallery) ? 'col-sm-9 col-sm-offset-3' : 'col-sm-12' }} col-md-1 chevron-container">
                                <a class="read-more" href="{{ news_item.get_permalink }}">
                                    <span class="visible-xs-inline visible-sm-inline">Read More</span> {{ ('[chevrons color="' ~ ((featured_post) ? 'white' : 'blue') ~ '" position="right" size="xs"]')|shortcodes }}
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            {% if pages %}
                {% import "macros/pagination.twig" as pagination %}
                {{ pagination.build_nav(pages) }}
            {% endif %}

        {% endblock %}

        {% block sidebar %}
            {{ sidebar }}
            {{ promo_sidebar }}
        {% endblock %}
    {% endembed %}
{% endblock %}