{% extends 'layouts/base.twig' %}

{# PAGE BODY #}
{% block page_body %}
    {% embed 'layouts/one-column.twig' %}
        {% block content %}

            <div itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">

                <h1 itemprop="headline">{{ post.title }}</h1>
                <div class="content" itemprop="text">
                    {{ post.content }}
                </div>

                {% if post.get_field('gallery') %}
                    {% set ids = [] %}
                    {% for gallery in post.get_field('gallery') %}
                        {% set ids = ids|merge([gallery.ID]) %}
                    {% endfor %}

                    {{ function('the_gallery', ids) }}
                {% endif %}

                {% import "macros/back_button.twig" as macro %}
                {{ macro.build_button('Blog', back_link) }}

            </div>

        {% endblock %}
    {% endembed %}

    {{ promo_banner }}
{% endblock %}